<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Some Website</title>
    </head>
    <body>
        {{> header}}
        projects, projects and more projects
        <p>{{screamIt projectMessage}}</p>

        {{> footer}}
    </body>
</html>